@forward 'normalize-scss';

@forward "tab";

#processing {
	margin: 0 auto;

	&.processed {
		display: none;
	}
}

#options {
	&.loading {
		display: none;
	}
}

h2 {
	background: red;
}

details {
	summary {
		cursor: pointer;
	}
}
