body {
	min-width: 400px;
}

#disabled {
	display: block;

	&.inactive {
		display: none;
	}

	.logo {
		display: block;
		margin: 0 auto;
	}
}

#enabled {
	display: none;

	&.active {
		display: block;
	}
}

h1 {
	text-align: center;
}
