<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<template id="template-define-item">
			<li>
				<button name="action"></button>
				<span name="name"></span>
				<span name="version"></span>
				<time name="updated-timestamp"></time>
			</li>
		</template>

		<ul class="tab">
			<li>
				<strong class="tab-header" data-we-text="options_tab_header_generic">options_tab_header_generic</strong>
				<div class="tab-content">
					<section>
						<h2 data-we-text="options_tab_content_generic_translate"></h2>
						<ul>
							<li>
								<label>
									<input id="translate_markReplacedElement" type="checkbox" />
									<span data-we-text="options_tab_content_generic_translate_markReplacedElement">options_tab_content_generic_translate_markReplacedElement</span>
								</label>
							</li>
						</ul>
					</section>
				</div>
			</li>
			<li>
				<strong class="tab-header" data-we-text="options_tab_header_defines">options_tab_header_defines</strong>
				<div class="tab-content">
					<ul id="defines"></ul>
				</div>
			</li>
		</ul>

		<!-- webpack -->
		<script src="application-options.js"></script>
	</body>

</html>
