<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<template id="template-define-item">
			<li class="list-item">
				<button name="action" type="button" data-we-text="options_tab_content_defines_item_update" data-we-data-updating="options_tab_content_defines_item_updating">options_tab_content_defines_item_update</button>
				<span name="name" data-we-title="options_tab_content_defines_item_name"></span>
				<span name="version" data-we-title="options_tab_content_defines_item_version"></span>
				<time name="updated-timestamp" data-we-title="options_tab_content_defines_item_updatedTimestamp"></time>
				<span name="id" data-we-title="options_tab_content_defines_item_id"></span>
				<button name="delete" type="button" data-we-text="options_tab_content_defines_item_delete">options_tab_content_defines_item_update</button>
				<ul name="hosts" class="hosts" data-we-title="options_tab_content_defines_item_hosts">
				</ul>
			</li>
		</template>

		<div id="processing">
			<progress></progress>
		</div>

		<ul id="options" class="tab loading">
			<li>
				<strong class="tab-header" data-we-text="options_tab_header_generic">options_tab_header_generic</strong>
				<div class="tab-content">
					<form id="generic">
						<section>
							<h2 data-we-text="options_tab_content_generic_translate"></h2>
							<ul>
								<li>
									<label>
										<input id="translate_markReplacedElement" type="checkbox" />
										<span data-we-text="options_tab_content_generic_translate_markReplacedElement">options_tab_content_generic_translate_markReplacedElement</span>
									</label>
								</li>
							</ul>
						</section>
						<section>
							<h2 data-we-text="options_tab_content_generic_setting">options_tab_content_generic_setting</h2>
							<ul>
								<li>
									<label>
										<input id="setting_autoUpdate" type="checkbox" />
										<span data-we-text="options_tab_content_generic_setting_autoUpdate">options_tab_content_generic_setting_autoUpdate</span>
									</label>
								</li>
								<li>
									<label for="setting_periodDays">
										<span data-we-text="options_tab_content_generic_setting_periodDays">options_tab_content_generic_setting_periodDays</span>
									</label>
									<input id="setting_periodDays" type="number" min="0" max="365" />
								</li>
							</ul>
						</section>
						<button data-we-text="options_tab_content_generic_save">options_tab_content_generic_save</button>
					</form>
				</div>
			</li>
			<li>
				<strong class="tab-header" data-we-text="options_tab_header_defines">options_tab_header_defines</strong>
				<div class="tab-content">
					<ul id="defines">
						<!-- template-define-item -->
					</ul>
					<button id="import" data-we-text="options_tab_content_defines_import">import</button>
					<ol id="import-log"></ol>
				</div>
			</li>
		</ul>

		<!-- webpack -->
		<script src="application-options.js"></script>
	</body>

</html>
