<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<div id="options" class="tab">

			<input name="tab" class="tab_check" type="radio" id="editor_tab_header_editor" checked />
			<label for="editor_tab_header_editor" class="tab_header" data-we-text="editor_tab_header_editor">editor_tab_header_editor</label>
			<div class="tab_content">
				<section>
					<h2 data-we-text="editor_tab_content_editor_head">editor_tab_content_editor_head</h2>
					<dl>
						<dt data-we-text="editor_tab_content_editor_head_name"></dt>
						<dd id="editor_tab_content_editor_head_name"></dd>

						<dt data-we-text="editor_tab_content_editor_head_id"></dt>
						<dd id="editor_tab_content_editor_head_id"></dd>
					</dl>

				</section>

				<h2 data-we-text="editor_tab_content_editor_path">editor_tab_content_editor_path</h2>

				<h2 data-we-text="editor_tab_content_editor_common">editor_tab_content_editor_common</h2>
			</div>

			<input name="tab" class="tab_check" type="radio" id="editor_tab_header_raw" />
			<label for="editor_tab_header_raw" class="tab_header" data-we-text="editor_tab_header_raw">editor_tab_header_raw</label>
			<div class="tab_content">
				<pre id="editor_tab_content_raw"></pre>
			</div>



			<!-- webpack -->
			<script src="setting-editor.js"></script>
	</body>

</html>
